@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

// src/components/Footer.scss
.footer {
  width: 100%;
  font-family: 'Pretendard', sans-serif;

  .belt {
      /* position: absolute;
      left: 0;
      bottom: -10px; */
      width: 100%;
      height: 100%; // 띠지 높이 조절
      overflow: hidden;
      background: transparent;
      z-index: 100;

      .banner-track {
        display: flex;
        align-items: center;
        height: 100%;
        animation: banner-scroll 20s linear infinite;
        // 이미지가 충분히 많으면 자연스럽게 반복됨
      }

    .banner-img {
        height: 60px; // 이미지 높이 조절
        user-select: none;
        pointer-events: none;
      }
    }

  .footer_text {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    .left {
      color: #fff;
      padding: 30px;
      
      .favicon{
        img{padding-right: 20px;margin-top: 20px;}
        .moodic{
          font-family: "Paytone One", sans-serif;
          font-size: 30px;
          position: relative;
          top: -10px;
        }
      }
      p {
        font-size: 15px;
        line-height: 1.5;
        margin-top: 60px;
      }
    }
    .link{
      a{
        text-decoration: none;        
        color: #fff;
        position: absolute;
        margin-top: 40px;
        right: 30px;
      }
    }
    .sns {
      img {
        margin-right: 30px;
        position: relative;
        top: 180px;
      }
    }
  }

  /* 리셋 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
