.mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: none;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: #ffffff; 
    /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); */

    .logo img {
      /* filter: brightness(0) invert(1); */ // 로고가 흰색으로 보이게 필터 처리 예시
      transition: filter 0.3s ease;
    }

    .mainNav_center button,
    .mainNav_right a {
      color: #f47a4b; // 스크롤 시 버튼 색상 변경
      transition: color 0.3s ease;
      &:hover {
        color: lighten(#f47a4b, 10%);
      }
    }
  }

  .logo {
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 10rem;
      height: auto;
      transition: filter 0.3s ease;
      
    }
  }

  .mainNav_center {
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

      li {
      list-style: none;
      margin: 0 10px;

      button {
        padding: 4px 8px;
        border: none;
        background: none;
        font-size: 1.3rem;
        font-weight: 500;
        color: #333;
        cursor: pointer;
        transition: color 0.3s, font-weight 0.3s;

        &:hover {
          font-weight: 700;
        }
      }

      // 각 li 순서에 따라 다른 버튼 색상
      &:nth-child(1) button:hover {
        color: #fb6f7a;
      }

      &:nth-child(2) button:hover {
        color: #f47a4b;
      }

      &:nth-child(3) button:hover {
        color: #fed440;
      }

      &:nth-child(4) button:hover {
        color: #b474b4;
      }

      &:nth-child(5) button:hover {
        color: #55a3ff;
      }
    }
  }

  .mainNav_right {
    margin-right: 10px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
    gap: 10px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #333;
        padding: 4px 8px;
        font-size: 1rem;
        font-weight: 800;
        transition: color 0.3s;
        cursor: pointer;

        &:hover {
          color: #f47a4b;
          font-weight: 800;
        }
      }
    }
  }
}
