/* src/page/Brand.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-page {
  background: url('../img/ivory_bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.top_right ul {
  display: flex;
}

.top_right ul li {
  list-style: none;
  padding: 10px;
}

.top_right ul li a {
  text-decoration: none;
  color: #000;
}

.top_right img {
  width: 18px;
  height: 18px;
}

#myMenu {
  position: absolute;
  top: 70px;
  right: 10px;
  display: none;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 100;
  min-width: 100px;
}

#myMenu button {
  margin-bottom: 10px;
  border: none;
  padding: 10px 0;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

#myMenu button:last-child {
  margin-bottom: 0;
}

#myMenu button:hover {
  background: #FED440;
  color: #000;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding-top: 100px; // 헤더 공간 확보
}

section {
  position: relative;
 
}

.one .banner_1,
.two .banner_2,
.three .banner_3,
.four .banner_4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one .y {
  position: absolute;
  left: 0;
  top: 15%;
}

.one .g {
  position: absolute;
  right: 50px;
  bottom: 15%;
}

.two .p {
  position: absolute;
  left: 0;
  top: 15%;
}

.two .b {
  position: absolute;
  right: 50px;
  bottom: 0%;
}

.three .o {
  position: absolute;
  right: 0;
  top: 20%;
}

.three .pp {
  position: absolute;
  left: 5%;
  bottom: 15%;
}
