/* src/page/Brand.scss */



.brand-page {
  background: url('../img/ivory_bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}








section {
  position: relative;
  height: 1024px
 
}

.one .banner_1,
.two .banner_2,
.three .banner_3,
.four .banner_4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.one .y {
  position: absolute;
  left: 0;
  top: 15%;
}

.one .g {
  position: absolute;
  right: 50px;
  bottom: 15%;
}

.two .p {
  position: absolute;
  left: 0;
  top: 15%;
}

.two .b {
  position: absolute;
  right: 50px;
  bottom: 0%;
}

.three .o {
  position: absolute;
  right: 0;
  top: 20%;
}

.three .pp {
  position: absolute;
  left: 5%;
  bottom: 15%;
}
