/* src/pages/Genre.scss */
*{margin: 0; padding:0;}
.genre-page {
  width: 100%;
  height: 100vh;
  padding: 5rem;
  padding-top: 4rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  background: url('../img/ivory_bg.jpg') no-repeat center center/cover;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.genre-header-image-txt {
  position: absolute;
  width: 100%;
  top: 6rem;
  left: 23%;
  transform: translateY(-25%);
  z-index: 2;
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  pointer-events: none;

  .char {
    display: inline-block;
    opacity: 0;
    margin-right: .5rem;
    transition: all 0.3s ease;
  }
}

.genre-header-image-orange{
  position: absolute;
  width: 245px;
  top: 25px;
  right: 0;
  z-index: 1;
}
.genre-header-image-green{
  position: absolute;
  width: 20rem;
  top: 2rem;
  left: 1rem;
  z-index: 1;
}




.genre-navWrap {
  position: absolute;
  top: 4rem;
  left: 9rem;
  z-index: 10;
  width: 100%; // 이미지 위에 올라가는 크기로 줄임
}
.genre-nav {
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: auto;
  background: none;
  display: flex;

  button {
    width: 5rem;
    background: #f6e636;
    margin-bottom: 0.5rem;
    height: 5rem;
    border-radius: 50%;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #f47a4b;
      color: white;
      border-color: #f47a4b;
    }

    &.active {
      background-color: #f47a4b;
      color: white;
    }
  }
}



/* .genre-navWrap{
 
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.genre-nav {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 946px;
  height: 55px;
  background: #F6E636;
  border-radius: 50px;
  padding: 0.5rem 2rem;

  button {
    background: none;
    border: 0px solid #f47a4b;
    padding: 0.5rem 1rem ;
    border-radius: 25px;
    font-size: 1rem;
    width: 135px;  
    height: 40px;  
    cursor: pointer;
    transition: background-color 0.3s, width 0.3s, height 0.3s, transform 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    line-height: 40px; 

    &.active {
      background-color: #f47a4b;
      color: white;
    }

    &:hover {
      background-color: #f47a4b;
      color: white;
      border-color: #f47a4b;
      width: 135px;  
      height: 50px;  
      line-height: 50px; 
    }
  }
} */
.genre-container{
  position: absolute;
  bottom: -4rem;
  justify-content: center;
  width: 90%;
  height: 90%;
  
  
}
.genre-content {
  display: flex;
  justify-content: space-between;
  background: #FFFFC3;
  border-radius: 25px;
  width: 100%;
  height: 90%;
  gap: 11rem;
  align-items: flex-start;
  flex-wrap: wrap;

  .genre-image {
    flex: 1;
    padding-top: 12rem;
    img {
      margin-left: 11rem;
      width: 30rem;
      height: 30rem;
      max-width: 500px;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .track-list {
    width: 40%;
    box-sizing: border-box;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 35px;
    z-index: 50;
    .track-item {
      display: flex;
      align-items: center;
      /* gap: 1rem; */
      position: relative;
      
      width: 90%;
      height: 5rem;

      .album-art {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 3rem;
      }

      // 세로줄 추가
      .divider {
        width: 8rem;
        height: .2rem; // 세로줄 길이 조절
        background: #f47a4b;
        
      }

      .track-info {
        display: flex;
        /* background: #f47a4b; */
        padding: 0.6rem 1rem 0.3rem 1rem;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.07);
        height: 4rem;
        width: 40rem;
        justify-content: space-between;
        .track-info-left{
          height: 100%;
          align-items: center;
          
          
          h3 {
            
            font-size: 1rem;
          }

          p {
            font-size: .8rem;
          }
        }  

        a {
          color: #f47a4b;
          text-decoration: none;
          font-size: 2rem;
          cursor: pointer;
          height: 100%;
          transition: .3s;
          &:hover {
            color: #37ff8a;
          }
        }
      }
    }
  }
}
